/* This file contains the style (CSS) for the whole application */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

/* Possible selectors order from lower to higher priority:
  * --> affects the whole app
  .{ClassName} --> as className="App"
  #{ID} --> as id='App'
  {selector} --> elements 
*/
/* classNames can be used in different elements from html, ID should be only used once in one element */
/* !important makes the style to override any other */
/* @media can be used for responsiveness */

.App {
  min-height: 100vh;
  position: relative;
  background-color: #dddbda;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #564D80;
  min-height: 10vh;
  border-radius: 3vh;
  top: 1vh;
  margin: 0 10px;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-between !important;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #564D80;
}

.navbar-brand {
  color: black !important;
  font-weight: 700 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Camera component */

.result {
  position: absolute;
  top: 20vh;
  left: 100%;
  width: 50vw;
  display: flex;
  align-items: center;
  background-color: #dddbda
}

.result.hasPhoto {
  left: 50vw;
}

canvas, .cameraElement video {
  width: 100%;
  height: 36vh;
  border-radius: 8px;
}

.cameraElement video {
  object-fit: cover;
}

/* FoodInfo component */
.foodContainer table {
  background-color: #fff;
  border-radius: 8px;
}

/* Loading spinner */
.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid grey;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 